@import "compass/css3";

$lt-grey: #ccc;
$drk-grey: #333;
$off-white: #fafafa;

@import "compass/utilities/sprites";
@import "../images/*.png";
@include all-images-sprites;

body {
    background-color:$off-white ;
    @include filter-gradient($off-white, #ededed, vertical); // IE6-9
    @include background-image( url(../images/stage-coach.png), linear-gradient(top,  $off-white 35%,#f2f2f2 100%) );
    background-position:bottom 10px center, bottom left;
    background-repeat: no-repeat, no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $drk-grey;
    padding-bottom:70px;
    padding-top:130px;
    min-height:568px
}

.wf .container {
    padding-left:10px; 
    padding-right:10px;
}

.wf .btn-link {
    padding-left:0;
}
.search-content *{
    background-color:#eae8e2;
    h1 {
        font-size:110%;
        font-weight:bold;
    }
}
.normal {
    font-size:normal;
}
button.btn-wells, a.btn-wells{
    background-color: #ce4c00; // Old browsers
    @include filter-gradient(#ce4c00, #a53e01, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #ce4c00 1%,#ce4c00 43%,#a53e01 66%,#a53e01 100%));
    color:#fff;
    &:hover {
        color:#fff;
    }
}
.search-button {
    border:1px solid $lt-grey;
    float:left; 
    width:100%;
    @include border-radius(5px);
    background:url(../images/diagonal-bg.png) top left repeat-x;
    font-weight:bold;
    margin:10px 0;

    p {padding:10px 0 0 10px;}

    button { margin-top:15px }

}

.learn-more{
    border-top:1px solid $lt-grey;
    @include box-shadow(#ccc 0px 4px 10px -4px inset)
}

.wf-accordion{
    border: 1px solid $lt-grey;
    @include border-radius(5px);

    .panel{ 
        margin:0;
        padding:0 10px;
        border-radius:0;
        border:none;
        background-color:transparent;
    }
    .panel-body{
        padding-top:0px;
    }

    .panel-default .panel-heading{
        background-color:transparent;
    }
    .panel-heading{
        padding:10px 0;
        border:none;

        a {
            display:inline-block;
            position:relative;
            width:100%;
            height:100%;
            font-size:90%;
            font-weight:bold;

            &:hover {
                text-decoration:none;
            }

            &:focus {
                outline:none;
            }
        }
    }
}
#lawstuff {
    font-size:90%;
}
#accordion .panel{
    border-top:1px solid $lt-grey;
}
.wf-logo{
    text-align:center;
    background: #ec1f2c; /* Old browsers */
    background: url(../images/wf-logo.svg)center center no-repeat, -moz-linear-gradient(top,  #ec1f2c 43%, #ae1f25 99%); /* FF3.6+ */
    background: url(./images/wf-logo.svg)center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(43%,#ec1f2c), color-stop(99%,#ae1f25)); /* Chrome,Safari4+ */
    background: url(../images/wf-logo.svg)center center no-repeat, -webkit-linear-gradient(top,  #ec1f2c 43%,#ae1f25 99%); /* Chrome10+,Safari5.1+ */
    background: url(../images/wf-logo.svg)center center no-repeat, -o-linear-gradient(top,  #ec1f2c 43%,#ae1f25 99%); /* Opera 11.10+ */
    background: url(../images/wf-logo.svg)center center no-repeat, -ms-linear-gradient(top,  #ec1f2c 43%,#ae1f25 99%); /* IE10+ */
    background: url(../images/wf-logo.svg)center center no-repeat, linear-gradient(to bottom,  #ec1f2c 43%,#ae1f25 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1f2c', endColorstr='#ae1f25',GradientType=0 ); /* IE6-9 */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99;

}

.mast {
    border-top:4px solid #fff;
    border-bottom:4px solid #00698e;
    margin-bottom:10px;
    height:78px;
    max-height:78px;
    background: url(../images/mast.jpg)bottom left / 100% auto no-repeat;
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    z-index:99;
}
.wf .more-legal{
    text-align:left;
    &:focus, &:active:focus{
        outline:none;
    }

    .arrow-right, .arrow-down{
        margin-right: 5px;
        position:relative;
    }

    .arrow-down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #666;
    }

    .arrow-right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #666;
    }
}


.arrow-down, .arrow-right {
    width: 0; 
    height: 0; 
    position:absolute;
    vertical-align:middle;
    right:0;
    display: inline-block;
}

.arrow-down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #666;
}

.arrow-right {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #666;
}
.state-pick {
    margin-bottom:10px;
}
.wf h3 {
    font-size:110%;
    font-weight:bold;
    margin-top:0;
}
.listed {
    display:none;
    .call-now, .get-started {
        text-align:center;
        margin-top:20px;
    }
    .get-started {
        margin-bottom:20px;
        padding-top:10px;
    }
}

.more-info{
    font-size:95%
}
.filter{
    display:none;
    margin-top:10px;
    ul {
        list-style:none;
        float:left;
        padding:0;

    }
    li {
        float:left;
    }

    li:after {
        content:"|";
        padding:0 10px;
    }
}
.footer {
    margin-top:10px;
}

.caption {
    padding-top:10px;
    font-size:70%;
}
/* animation stuff */

.hide{
    display:none;
}

.contract { 
    display:block;
    animation: slideout 0.1s;
    -webkit-animation: slideout 0.1s;
}

.transitions{
    display:none;
    /*@include transition-duration(0.5s, 0.25s);*/
    /*@include translate3d( -105%, 0, 0 );    */

}

.expand{
    display:block;
    animation: slidein 0.1s;
    -webkit-animation: slidein 0.1s;
    margin-left:0;
}

@-webkit-keyframes slidein {
    from{
        margin-left:100%;
    }
    to {
        margin-left:0;
    }
}

@-webkit-keyframes slideout {
    from{
        margin-right:100%;
    }
    to {
        margin-right:0;
    }
}
/*
@keyframes slide {
from{
margin-left:;
}
to {
margin-left:0;
}
}
 */

